<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bikroy Scraper</title>

    <script>
      console.log(results);
    </script>
  </head>
  <body>
    <h1>Bikroy Scraper</h1>

    <!-- Add a search form with an input field and a submit button -->
    <form method="POST" action="/search">
      <input type="text" name="query" placeholder="Enter your search query" />
      <button type="submit">Search</button>
    </form>

    <!-- Display search results here -->
    <div>
      <h2>Search Results:</h2>

      <ul>
        {% if results %} {% for product in results %}
        <li>
          <h3>{{ product['title'] }}</h3>
          <p>Location: {{ product['location'] }}</p>
          <p>Price: {{ product['price'] }}</p>
          <p>Updated Time: {{ product['updated_time'] }}</p>
          <a href="{{ product['link'] }}" target="_blank">View Details</a>
        </li>
        {% endfor %} {% else %}
        <p>No results found.</p>
        {% endif %}
      </ul>
    </div>
  </body>
</html>
