<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bikroy Scraper</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="max-w-[1280px] w-full mx-auto p-12 bg-[#f8f8f8]">
    <h1 class="text-3xl text-center">Bikroy Scraper</h1>

    <!-- Add a search form with an input field and a submit button -->
    <form method="POST" action="/search" class="mx-auto max-w-md w-full">
      <div class="mt-6 flex max-w-md gap-x-4">
        <input
          id="query"
          type="text"
          name="query"
          class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-black shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
          placeholder="Enter your search query"
        />
        <button
          class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
          type="submit"
        >
          Search
        </button>
      </div>
    </form>

    <!-- Display search results here -->
    <div class="mx-auto mt-12">
      <h2 class="text-md font-semibold">Search Results:</h2>
      <div
        class="mt-6 grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-8 justify-center items-start"
      >
        {% if results %} {% for ad in results %}
        <div class="border h-full flex flex-col justify-between">
          <div>
            <img
              src="{{ ad['imgUrl'] }}"
              alt="{{ ad['title'] }}"
              width="240"
              height="240"
              class="w-full"
            />
            <h3 class="text-md px-4 py-1">{{ ad['title'] }}</h3>
            <p class="text-md px-4 py-1">Location: {{ ad['location'] }}</p>
            <p class="text-md px-4 py-1">Price: {{ ad['price'] }}</p>
          </div>

          <a
            href=`{{ ad['link'] }}`
            target="_blank"
            class="px-4 py-2 mb-0 mt-auto"
          >
            <p
              class="w-auto py-2 text-center rounded-lg bg-indigo-500 hover:bg-indigo-400 text-white"
            >
              View Details
            </p>
          </a>
        </div>
        {% endfor %} {% else %}
        <p>No results found.</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
